@tailwind base;
@tailwind components;
@tailwind utilities;

/*/ progress bar responsiveness /*/
/*@media screen and (max-width: 700px) {*/

/*    .progress_bar{*/
/*        width: 320px;*/
/*    }*/

/*}*/

input[type="file"]::file-selector-button {

    opacity: 0;
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;

    border: 0px solid white;
    background-color: white;
}